body{
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

h1{
    text-align: center;
    font-weight: bold;
}

textarea {
    width: 100%;
    min-height: 60px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    resize: vertical;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

button{
    padding: 10px;
    width: 100%;
    border: none;
    background: #38bdf8;
    color: black;
    border-radius: 8px;
    cursor: pointer;
}

ul{
    text-align: left;
}

button:hover{
    background: #0d99d9;
}

.containers_wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.inner_container {
    border: 2px solid #0d99d9;
    border-radius: 12px;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.output {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.output p {
    background: #1e293b;
    padding: 10px;
    border-radius: 8px;
}

.input, .output {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
